.formattransparency {
    padding-left: 1rem;
    padding-right: 1rem;  
}

.formattransparency__item {
    display: grid;
    grid-template-areas:    "categories categories"
                            "image image"
                            "title itemtext"
                            "title itemtext";
}

.formattransparency__item figcaption {
    position: absolute;
    top: 53%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-weight:400;
    color: rgba(255, 255, 255, 1.0);
  }

.formattransparency__item span{
    font-size: 2rem!important;
    /*line-height: 2.4rem!important;*/
    padding-top: 1rem;
}

.formattransparency__item article a {
   border-bottom: 3px solid rgba(58, 159, 157, 1);
   padding-left: .3rem;
   padding-right: .3rem;
}

.formattransparency__item article a:hover {
    background-color: rgba(33, 107, 106, 1);
    color: rgba(255, 255, 255, 1);
    border-bottom: 4px solid rgba(0,0,0,1);
}

.formattransparency__item div:first-child {
    grid-area: categories;
    background-color: rgba(255, 255, 255, 1);
  }

.formattransparency__item div:nth-child(2) {
    grid-area: image;
    background-color: rgba(255, 255, 255, 1);
  }  

.formattransparency__item div:nth-child(3)  {
    grid-area: title;
    height: 8rem;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 2rem;
    font-weight:100;
    font-size: 2.4rem!important;
    margin-right: .2rem;
  }

.formattransparency__item div:nth-child(4)  {
    grid-area: itemtext;
    padding-top: 2rem;
    padding-left: 30rem;
    padding-right: 4rem;
  }

.formattransparency__item_title_tags {
    width: 40rem;
    padding-top: 3rem;
    line-height: 2rem;
    display: grid;
    grid-template-areas:    "subtitle"
                            "tag"
                            ;
}
.formattransparency__item_title_tags div:first-child {
    grid-area: subtitle;
}
.formattransparency__item_title_tags div:nth-child(2) {
    grid-area: tag;
    padding-top: 4rem;
}
@media screen and (max-width: 925px) { 
    .formattransparency__item {
        grid-template-areas: "imagen"
                            "texto"
                            "categoryes_tags";
        /*background-color: #2196F3;*/
        gap: 0rem;
    }  
    .formattransparency__item h1{
        font-size: 2rem;
    }
    .formattransparency__item div:nth-child(2) img{
        grid-area: imagen;
        width: 100%;
        height: auto;
      }
}