.quisomcontaniner{
    padding-top: 4rem;
}
.quisomcontaniner__header{
    font-size: 2rem;
    padding-left: 1rem;
}
.quisomcontaniner figure{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.formatquisom__item {
    display: grid;
    grid-template-columns: 60% 40%;
}
.formatquisom__item h1{
    font-size: 2.4rem;
}
.formatquisom__item article h2 {
    margin: 0;
}
.formatquisom__explora span {
 font-size: 2.4rem;
}
.quisomcontaniner > div:not( :last-of-type ) {
    border-bottom: 1px rgba(68, 68, 68, 0.5) solid;
    padding-bottom: 2rem;
}
.formatquisom__explora__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}
.formatquisom__explora__item figure{ 
    margin-top: 1rem;
}
.formatquisom__explora__item figcaption{ 
    font-size: 1.6rem;
}
.formatquisom__item__proyecto{
    padding-top: 0rem;
}
.formatquisom__item__servicio__header{
    font-weight: 800;
    font-size: 2rem;
}
.formatquisom__item__servicio__body{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}
@media screen and (max-width: 925px) { 
    .formatquisom__explora__item{
        grid-template-columns: repeat(1, 1fr);
    }
    .formatquisom__item {
        display: grid;
        grid-template-columns: 100%;
    }
}